.popular .movie{
    max-width: 25%;
    padding: 0px 7.5px;
}
.popular-more{
    padding: 10px 0px;
    color: #fff;
    font-weight: 600;
    transition: 0.2s;
    background: #009c7c;
    width: 120px;
    text-align: center;
    margin: auto;
    font-family: 'light';
    margin-bottom: 15px;
    margin-top: 15px;
}
.popular-more:hover{
    background-color: #00755d;
}