.footer{
    background-color: #111;
}
.copyright {
    color: #999;
}
.digitalad span{
    width: 190px;
    height: 1px;
    background-color: #292929;
    margin-bottom: 6px;
}
.digitalad img{
    margin: 0px 25px;
}
.footer-bottom{
    padding: 15px 15px 30px;
    border-top: 1px solid #292929;
}
.footer-middle ul{
    margin-bottom: 33px;
}
.footer-top{
    padding-bottom: 40px;
    margin-top: 52px;
}
.footer-top li{
    color: #e2e2e2;
}
.footer-top li a:before{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 5px;
    height: 1px;
    background: #e2e2e2;
}
.digitalad{
    margin-top: 15px;
}