*{
    margin: 0px;
    padding: 0px;
    color: #999;
    font-family: 'light';
}
a:hover{
    text-decoration: none;
}
p{
    margin: 0px;
}
.round{
    border-radius: 100%;
}
.relative{
    position: relative;
}
.cursor-pointer{
    cursor: pointer;    
}
button{
    background: transparent;
    border: none;
    outline: none;
}
button:focus{
    outline: none;
    border: none;
}
input:focus{
    outline: none;
    border: none;
}
body{
    background-color: #1d1d1d;
}
main{
    min-height: calc(100vh - 90px);
}
ul , li {
    list-style-type: none;
}
.block-title{
    padding-left: 7.5px;
    margin: 15px 0px;
}
.block-title:hover .see-all{
    color: #02735c;
}
.block-title__main{
    margin-left: 20px;
    font-size: 24px;
    color: #fff;
    margin-right: 10px;
    font-family: caps;
    display: flex;
    align-items: center;
}
.block-title__main:hover{
    color: #fff;
}
.block-title__main span{
    font-size: 14px;
    color: #fff;
    margin-left: 10px;
}
.see-all{
    font-size: 14px;
    color: #676767;
    transition: 0.2s;
}
@font-face {
    font-family: 'r-medium';
    src: local('medium'), url(./font/Roboto-Medium.ttf) format('truetype');
}
@font-face {
    font-family: 'caps';
    src: local('caps'), url(./font/BebasNeue-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'light';
    src: local('light'), url(./font/Roboto-Light.ttf) format('truetype');
}
@font-face {
    font-family: 'r-bold';
    src: local('r-bold'), url(./font/Roboto-Bold.ttf) format('truetype');
}
::-webkit-scrollbar{
    width:8px;
}
::-webkit-scrollbar-thumb{
border-radius: 10px;
background-color: #009c7c;
}
::-webkit-scrollbar-track{
border-radius: 0px;
background-color: #1d1d1d;
}