.green-btn{
    color: #fff;
    background-color: #009c7c;
    transition: 0.2s;
    text-transform: capitalize;
    cursor: pointer;
}
.green-btn:hover{
    background-color: #00755d;
}
.movie-top img{
    width: 100%;
    object-fit: cover;
}
.movie-list .item{
    height: 210px;
}
.movie{
    margin-bottom: 10px;
    padding: 0px 7.5px;
    cursor: pointer;
}
.movie-bottom{
    transition: 0.2s;
}
.movie-top{
    position: relative;
}
.movie-top .overlay{
    position: absolute;
    z-index: 9;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    transition: 0.2s;
}
.movie:hover .movie-top .overlay{
    background-color: rgba(0, 0, 0, 0.5);
}
.movie:hover .movie-bottom{
    background-color: #323232;
}
.movie-bottom{
    padding-left: 10px;
    margin-top: -5px;
}
.movie-bottom__title{
    font-size: 17px;
    color: #e2e2e2;
    margin-top: 5px;
    transition: 0.2s;
    display: flex;
}
.movie:hover .movie-bottom__title{
    color: #00755d;
}
.movie-bottom__secondary{
    font-size: 14px;
    color: #777;
}
.movie-bottom__secondary:hover{
    color: #777;
}
.movie-list{
    margin-bottom: 10px;
}
.movie-list .slick-next ,.movie-list .slick-prev{
    position: absolute;
    top: -30px;
    right: 6px;
    left: unset;
}
.movie-list .slick-prev{
    right: 36px;
}
.movie-list__large{
    padding: 20px 0px 60px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.pl-370{
    padding-left: 370px;
}
.movie-list__large.dark *{
    color: #000!important;
}
.movie-list__large .movie-bottom__title{
    font-weight: 600;
}
.container{
    max-width: 1300px;
    width: 100%;
}
.movie-list__large::before{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: -webkit-linear-gradient(
180.52deg
,#2e2e2e .09%,hsla(0,0%,100%,0) 100.25%);
    background: -moz-linear-gradient(180.52deg,#2e2e2e .09%,hsla(0,0%,100%,0) 100.25%);
    background: -o-linear-gradient(180.52deg,#2e2e2e .09%,hsla(0,0%,100%,0) 100.25%);
    background: linear-gradient(
269.48deg
,#2e2e2e .09%,hsla(0,0%,100%,0) 100.25%);
    opacity: .5;
    pointer-events: none;
}